# FLO 크롤링

In [1]:
# import
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd

In [2]:
driver = webdriver.Chrome('../chromedriver')
driver.maximize_window()
driver.get('https://www.music-flo.com/')
time.sleep(1)

In [3]:
driver.find_element_by_xpath('//*[@id="header"]/div/nav/ul/li[1]/a').click()
time.sleep(2)

In [5]:
time.sleep(1)
driver.find_element_by_class_name('btn_list_more').click()

In [6]:
driver.find_elements_by_class_name('num')[0].text # Rank

'1'

In [7]:
driver.find_elements_by_class_name('tit')[0].text # Song

"롤린 (Rollin')"

In [8]:
driver.find_elements_by_class_name('album')[0].text # Album

"Rollin'"

In [9]:
driver.find_elements_by_class_name('artist_link')[0].text # Singer

'브레이브걸스'

### DataFrame

In [10]:
ranks, songs, albums ,singers =[], [], [], []
for i in range(100):
    rank = driver.find_elements_by_class_name('num')[i].text # Rank
    song = driver.find_elements_by_class_name('tit')[i].text # Song
    album = driver.find_elements_by_class_name('album')[i].text # Album
    singer = driver.find_elements_by_class_name('artist')[i].text # Singer
    ranks.append(rank)
    songs.append(song)
    albums.append(album)
    singers.append(singer)

In [11]:
df = pd.DataFrame({
    'Rank' : ranks,
    'Song' : songs,
    'Album' : albums,
    'Singer' : singers
})

In [12]:
df

,Rank,Song,Album,Singer
0,1,롤린 (Rollin'),Rollin',아티스트
1,2,라일락,IU 5th Album 'LILAC',브레이브걸스
2,3,운전만해 (We Ride),We Ride,아이유 (IU)
3,4,"Peaches (feat. Daniel Caesar, Giveon) (Explici...",Justice,브레이브걸스
4,5,Celebrity,IU 5th Album 'LILAC',Justin Bieber
...,...,...,...,...
95,96,I CAN’T STOP ME,Eyes wide open,ASH ISLAND
96,97,빈 컵 (Empty Cup),IU 5th Album 'LILAC',TWICE (트와이스)
97,98,Don't Start Now,Future Nostalgia,아이유 (IU)
98,99,계단말고 엘리베이터,계단말고 엘리베이터,Dua Lipa
99,100,parachute (Explicit Ver.),love + everything else,임영웅

In [13]:
df.to_csv('./data/FLO Top100.csv')